.mode-control {
  display: flex;
  justify-content: space-between;
  width: 243px;
  min-height: 38px;
  padding: 1px;
  background-color: $color-solitude-2;
  border-radius: 6px;

  &__button {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 12px;
    font-family: $ff-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-transform: capitalize;
    color: $color-bright-grey;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgba($color-white-default, 0.5);
    }

    &.is-active {
      background-color: $color-white-default;
      border: 1px solid $color-solitude-1;

      svg {
        color: $color-neon-blue;
      }
    }
  }
}
