// colors

$color-white-default: #ffffff;
$color-black-default: #000000;

$color-black-russian: #111827;
$color-bright-grey: #4d5562;
$color-raven: #6b7280;
$color-silver: #c4c4c4;
$color-solitude-1: #e2e3e5;
$color-solitude-2: #f3f4f6;

$color-neon-blue: #5d5fef;
$color-alice-blue: #f0f9ff;

// fonts

$ff-inter: "Inter", Arial, sans-serif;
