// colors

$color-white-default: #ffffff;
$color-black-default: #000000;

$color-black-russian: #111827;
$color-bright-grey: #4D5562;
$color-raven: #6B7280;
$color-silver: #C4C4C4;
$color-solitude-1: #E2E3E5;
$color-solitude-2: #F3F4F6;

$color-neon-blue: #5D5FEF;
$color-alice-blue: #F0F9FF;

// fonts

$ff-inter: "Inter", Arial, sans-serif;


