.result {
  width: 240px;
  height: 72px;
  padding: 4px;
  background-color: $color-white-default;

  &__button {
    width: 100%;
    height: 100%;
    font-family: $ff-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: $color-white-default;
    background-color: $color-neon-blue;
    border: 2px solid $color-neon-blue;
    border-radius: 6px;
    transition: background-color 0.3s ease;

    &:hover {
      color: $color-neon-blue;
      background-color: rgba($color-neon-blue, 0.3);
    }

    &:active {
      color: $color-neon-blue;
      background-color: $color-white-default;
    }
  }

  .is-disabled &__button {
    pointer-events: none;

    &:hover {
      color: $color-white-default;
      background-color: $color-neon-blue;
    }

    &:active {
      color: $color-white-default;
      background-color: $color-neon-blue;
    }
  }
}
