.result {
  width: 240px;
  height: 72px;
  padding: 4px;
  background-color: $color-white-default;

  &__button {
    width: 100%;
    height: 100%;
    font-family: $ff-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: $color-white-default;
    background-color: $color-neon-blue;
    border-radius: 6px;
  }
}
